azureml-train-automl-runtime==1.44.0
azureml-interpret==1.44.0
azureml-defaults==1.44.0
numpy==1.18.5
pandas==1.1.5
scikit-learn==0.23.1
fbprophet==0.7.1
holidays==0.10.3
psutil==5.8.0
pandas==1.1.5
numpy==1.18.5
streamlit==1.12.2
