azureml
azureml-sdk
azureml-automl-core 
azureml-automl-runtime 
azureml-contrib-notebook 
azureml-contrib-pipeline-steps 
azureml-contrib-server
azureml-contrib-services 
azureml-core 
azureml-dataprep 
azureml-dataprep-native 
azureml-defaults 
azureml-explain-model
azureml-interpret
azureml-model-management-sdk 
azureml-pipeline 
azureml-pipeline-core 

azureml-pipeline-steps
azureml-sdk 
azureml-telemetry
azureml-tensorboard
azureml-train
azureml-train-automl 
azureml-train-automl-client 
azureml-train-automl-runtime 
azureml-train-core 
azureml-train-restclients-hyperdrive
azureml-widgets
numpy==1.18.5
pandas==1.1.5
scikit-learn==0.22.1
holidays==0.10.3
psutil==5.8.0
Flask
Streamlit
